[Unit]
Description=Kafka
After=network.target

[Service]
ExecStart=/root/program/kafka/bin/kafka-server-start.sh config/kraft/broker.properties
Environment='KAFKA_HEAP_OPTS=-Xms2g -Xmx2g -XX:MetaspaceSize=96m -XX:MaxDirectMemorySize=4G'
Environment='KAFKA_JVM_PERFORMANCE_OPTS=-server -XX:+UnlockExperimentalVMOptions -XX:+UseZGC -XX:+ParallelRefProcEnabled -XX:+DoEscapeAnalysis -XX:ParallelGCThreads=12 -XX:ConcGCThreads=12 -XX:+DisableExplicitGC -XX:-ResizePLAB -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80 -Djava.awt.headless=true'
Environment='KAFKA_S3_ACCESS_KEY=xxx'
Environment='KAFKA_S3_SECRET_KEY=yyy'
WorkingDirectory=/root/program/kafka
RestartSec=1s
Restart=on-failure
Type=simple
LimitNOFILE=300000
# Stopping will first send SIGTERM and then wait 60min for kafka to shutdown before sending SIGKILL
TimeoutStopSec=3600
# Do not record any std.
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
