# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ "master", "develop" ]

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      build-kos: ${{ steps.filter.outputs.build-kos }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build-kos:
              - '.github/workflows/**'
              - 'core/**'
              - 'metadata/**'
  build-kos:
    needs: [ paths-filter ]
    if: ${{ needs.paths-filter.outputs.build-kos == 'true' || github.event_name == 'push' }}
    uses: ./.github/workflows/build_kos.yml
  build-result:
    runs-on: ubuntu-latest
    needs: [ build-kos ]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v3
      - name: Collect build result
        run: |
          if echo build-kos-${{ needs.build-kos.result }} | grep -E 'cancelled|failure' -o > null
          then
            echo "There are failed/cancelled builds"
            exit 1
          else
            echo "All builds are successful/skipped"
            exit 0
          fi
