name: Nightly Main E2E tests
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  main_e2e_1:
    name: "Run Main E2E Tests 1"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "main1"
      test-yaml: "tests/suites/main_kos_test_suite1.yml"
      storage-path: "/data/github-actions/reports"
      runner: "main"
  main_e2e_2:
    name: "Run Main E2E Tests 2"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "main2"
      test-yaml: "tests/suites/main_kos_test_suite2.yml"
      storage-path: "/data/github-actions/reports"
      runner: "main"
  main_e2e_3:
    name: "Run Main E2E Tests 3"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "main3"
      test-yaml: "tests/suites/main_kos_test_suite3.yml"
      storage-path: "/data/github-actions/reports"
      runner: "main"
  main_e2e_4:
    name: "Run Main E2E Tests 4"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "main4"
      test-yaml: "tests/suites/main_kos_test_suite4.yml"
      storage-path: "/data/github-actions/reports"
      runner: "main"
  main_e2e_5:
    name: "Run Main E2E Tests 5"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "main5"
      test-yaml: "tests/suites/main_kos_test_suite5.yml"
      storage-path: "/data/github-actions/reports"
      runner: "main"
  e2e_summary:
    name: "E2E Tests Summary"
    runs-on: [ self-hosted, main ]
    if: ${{ always() && github.repository_owner == 'AutoMQ' }}
    needs: [ main_e2e_1, main_e2e_2, main_e2e_3, main_e2e_4 ]
    steps:
      - name: Report results
        run: python3 tests/report_e2e_results.py
        env:
          WEB_HOOK_URL: ${{ secrets.E2E_REPORT_WEB_HOOK_URL }}
          SHOW_RESULTS_URL: ${{ secrets.E2E_REPORT_SHOW_RESULTS_URL }}
          STORAGE_PATH: "/data/github-actions/reports"
          REPORT_TITLE_PREFIX: "Main"
