name: Nightly Extra E2E tests
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  benchmarks_e2e:
    name: "Run benchmarks E2E Tests"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "benchmarks"
      test-path: "tests/kafkatest/benchmarks"
      runner: "ubicloud-standard-8-arm"
  connect_e2e_1:
    name: "Run connect E2E Tests 1"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "connect1"
      test-yaml: "tests/suites/connect_test_suite1.yml"
      runner: "ubicloud-standard-8-arm"
  connect_e2e_2:
    name: "Run connect E2E Tests 2"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "connect2"
      test-yaml: "tests/suites/connect_test_suite2.yml"
      runner: "ubicloud-standard-8-arm"
  connect_e2e_3:
    name: "Run connect E2E Tests 3"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "connect3"
      test-yaml: "tests/suites/connect_test_suite3.yml"
      runner: "ubicloud-standard-8-arm"
  streams_e2e:
    name: "Run streams E2E Tests"
    uses: ./.github/workflows/e2e-run.yml
    if: ${{ github.repository_owner == 'AutoMQ' }}
    with:
      suite-id: "streams"
      test-path: "tests/kafkatest/tests/streams"
      runner: "ubicloud-standard-8-arm"
  e2e_summary:
    name: "E2E Tests Summary"
    runs-on: "ubicloud-standard-8-arm"
    if: ${{ always() && github.repository_owner == 'AutoMQ' }}
    needs: [ benchmarks_e2e, connect_e2e_1, connect_e2e_2, connect_e2e_3, streams_e2e ]
    steps:
      - name: Report results
        run: python3 tests/report_e2e_results.py
        env:
          CURRENT_REPO: ${{ github.repository }}
          RUN_ID: ${{ github.run_id }}
          WEB_HOOK_URL: ${{ secrets.E2E_REPORT_WEB_HOOK_URL }}
          DATA_MAP: "{\"benchmarks_e2e\": ${{ toJSON(needs.benchmarks_e2e.outputs) }}, \"connect_e2e_1\": ${{ toJSON(needs.connect_e2e_1.outputs) }}, \"connect_e2e_2\": ${{ toJSON(needs.connect_e2e_2.outputs) }}, \"connect_e2e_3\": ${{ toJSON(needs.connect_e2e_3.outputs) }}, \"streams_e2e\": ${{ toJSON(needs.streams_e2e.outputs) }}}"
          REPORT_TITLE_PREFIX: "Extra"
