# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Maven Package

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: true
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

env:
  VERSION: ${{ github.event.inputs.version || github.ref_name }}

jobs:
  publish:
    name: "Publish to Github Packages"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
        jdk: [ 17 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Gradle wrapper validation
        uses: gradle/actions/wrapper-validation@v3
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.jdk }}
          distribution: "zulu"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.10'
      - name: Publish
        run: |
          gradle publish -PmavenUrl='https://maven.pkg.github.com/AutoMQ/automq' \
           -PmavenUsername=${{ env.GITHUB_ACTOR }} -PmavenPassword=${{ secrets.GITHUB_TOKEN }} \
           -PskipSigning=true \
           -Pgroup=com.automq.automq -Pversion=${{ env.VERSION }}
